# Dependencies
node_modules/

# Build output
dist/

# Caches and tooling
.vercel/
.vite/
.parcel-cache/
.cache/

# OS/editor
.DS_Store
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


